@charset "UTF-8";

/* 変数 */
:root {
  /* 黒 */
  --dark-color: #373737;

  /* バックグラウンドカラー */
  --back-ground-color: #e0dde0;

  /* ヘッダーカラー */
  --header-color: white;

  /* セクションカラー */
  --section-color: black;
}

body {
  font-family: "Noto Sans JP", "Helvetica Neue", "Helvetica", "Hiragino Sans",
    "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo", sans-serif;
  background-color: white;
}

/* ********** Header ********** */

.logo {
  margin: 0;
  height: 150px;
  width: 150px;
  padding: 0;
}

.nonDisp {
  display: none;
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
}

.main-contents {
  margin-left: 20px;
}

.contents-link {
  color: var(--header-color);
}

a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 30px;
}

.sp-nav {
  display: none;
}

.br-resp {
  display: none;
}

/* ********** Hero ********** */

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;
}

#canvas {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

.hero > strong {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 120px;
  color: var(--back-ground-color);
  font-weight: bold;
  display: block;
  width: 100%;
  text-align: center;
}

.hero-text-typing span {
  display: none;
}

/*文字列後ろの線の設定*/
.hero-text-typing::after {
  content: "|";
  animation: typing 0.8s ease infinite;
}

@keyframes typing {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hero > p {
  z-index: 3;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.hero > video {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ********** section(common) ********** */

.hr-right {
  margin-top: 20px;
  margin-left: 60px;
  border-top: 5px solid var(--section-color);
}

.hr-left {
  margin-top: 20px;
  margin-right: 60px !important;
  border-top: 5px solid var(--section-color);
}

.hr-dev {
  margin: 0;
  margin-right: 60px;
  padding-top: 20px;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 5px solid var(--header-color);
  z-index: 1;
  position: relative;
}

/* セクションアニメーション発火 */
.president-section.is-animated,
.company-section.is-animated,
.develop-section.is-animated {
  animation: slideIn 1s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes slideIn {
  0% {
    transform: translateX(500px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
  40%,
  100% {
    opacity: 1;
  }
}

.section-title * {
  color: var(--section-color);
  margin: 0;
}

.section-even {
  display: grid;
  justify-content: end;
  align-items: end;
  margin-left: 0;
  margin-left: 1%;
}

.section-dev * {
  color: var(--header-color) !important;
  position: relative;
  z-index: 1;
}

.title-eng {
  font: bold;
  font-size: 5.4rem;
}

.title-ja {
  font-size: 2.2rem;
  font-weight: 700;
  margin-left: 1%;
}

.fontTimesNewRoman {
  font-family: "Times New Roman", Times, serif;
}

/* ********** president ********** */
.section-title > strong {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
}

.president-container {
  display: flex;
  height: 100%;
}

.president-img {
  margin: auto;
  width: 70%;
  border-radius: 100%;
  border: solid 3px var(--back-ground-color);
}

.left-content {
  align-items: center;
  justify-content: center;
  width: 40%;
  color: white;
  background-color: var(--dark-color);
  padding: 2% 0;
}

.main-profile {
  display: flex;
  flex-flow: column;
  margin: 40px 20% 10%;
  justify-content: center;
}

.main-profile h1 {
  margin-bottom: 0;
}

.main-profile h4,
.sub-profile p {
  margin: 0;
}

.sub-profile {
  margin: 10px 15%;
}

.right-content {
  padding: 2% 0;
  width: 60%;
  background-color: var(--back-ground-color);
}

.career {
  margin-left: 20%;
  margin-top: 10%;
}

.career-label {
  margin: 2% 0;
}

.profile-history-content {
  margin: 5% 0;
}

.profile-history p {
  margin: 0;
}

.profile-history h4 {
  margin-bottom: 0;
}
/* ********** Company ********** */

.company-container {
  display: flex;
  flex-flow: column;
}

.company-activities {
  display: flex;
  width: 100%;
}

.activity-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5%;
  background-color: var(--dark-color);
  color: var(--back-ground-color);
  border: solid 1px white;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.company-activities:nth-child(odd) .activity-content:nth-child(odd),
.company-activities:nth-child(even) .activity-content:nth-child(even) {
  width: 60%;
}

.company-activities:nth-child(odd) .activity-content:nth-child(even),
.company-activities:nth-child(even) .activity-content:nth-child(odd) {
  width: 40%;
}

.activity-content .activity-over:after {
  background-color: var(--back-ground-color);
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.2s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}

.activity-normal {
  margin: 50px;
  padding: 0;
  font-size: 30px;
  font-size: 3rem;
  text-shadow: 0px 20px 6px #ccc, 0px -20px 6px #ccc;
  position: relative;
  padding: 1.5rem;
  text-align: center;
}

.activity-normal span {
  font-size: 18px;
  font-size: 1.8rem;
  display: block;
}

.activity-normal:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: "";
  background: var(--back-ground-color);
}

.activity-normal:before {
  position: absolute;
  bottom: -10px;
  left: calc(50% - 30px);
  width: 60px;
  height: 5px;
  content: "";
  background: var(--back-ground-color);
}

.activity-content:hover {
  color: var(--dark-color);
}

.activity-content:hover .activity-over:after {
  transform: scale(1, 1);
}

.activity-hover {
  display: none;
}

.activity-hover-first-letter {
  font-size: 40px;
  line-height: 0;
  font-weight: bold;
}

.activity-content:hover .activity-normal {
  display: none;
}

.activity-content:hover .activity-hover {
  display: inherit;
}

.activity-content:hover:before,
.activity-content:hover:after {
  width: 100%;
}

.activity-content:hover .activity-line:before,
.activity-content:hover .activity-line:after {
  height: 100%;
}

.activity-content:before {
  background-color: var(--dark-color);
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  bottom: 0;
  height: 10px;
  right: 0;
  width: 0;
}

.activity-content:after {
  background-color: var(--dark-color);
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  top: 0;
  height: 10px;
  left: 0;
  width: 0;
}

.activity-content .activity-line:before {
  background-color: var(--dark-color);
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  height: 0;
  right: 0;
  top: 0;
  width: 10px;
}

.activity-content .activity-line:after {
  background-color: var(--dark-color);
  content: "";
  display: block;
  position: absolute;
  z-index: 10;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  bottom: 0;
  height: 0;
  left: 0;
  width: 10px;
}

/* ********** Develop ********** */

#develop-section::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--dark-color);
  opacity: 0.5;
  z-index: 0;
}

#develop-section {
  background-image: url("../images/developExampleImage/background.jpg");
  /* background-repeat: no-repeat; */
  position: relative;
  /* background-size: cover; */
  z-index: 1;
}

.development-example {
  display: flex;
  width: 100%;
  padding: 20px 0;
}

.development-example-title {
  flex-basis: 50%;
  color: white;
  padding: 20px;
  z-index: 1;
}

.development-example-details {
  flex-basis: 50%;
  z-index: 1;
}

.development-example-content {
  margin-bottom: 10px;
  align-items: center;
  display: flex;
  background-color: var(--back-ground-color);
  border-radius: 20px;
  margin-right: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.project-img {
  width: 120px;
  height: 120px;
  margin: 0 20px;
  align-items: center;
}

.project-block-desc {
  margin: 0;
}

.project-block-dev {
  margin: 0;
  margin-bottom: 10px;
}

.project-block-url {
  margin: 0;
}

.site-url {
  font-size: 20px;
  text-decoration: underline;
  color: blue;
}

.favorite-section {
  background-color: var(--back-ground-color);
  padding: 20px;
}

.favarite-section-title {
  margin-top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorite-title {
  margin-left: 10%;
}

.favorite-lang {
  display: flex;
  justify-content: center;
}

.favorite-lang-detail {
  margin: 0;
}

.favorite-lang-component {
  padding: 20px 40px;
  margin: 20px;
  border-radius: 20px;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.favorite-lang-img {
  width: 50px;
  height: 50px;
}

/* ********** footer ********** */

footer {
  background-color: var(--dark-color);
  color: white;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px;
}

/* ********** footer　SNS　ZONE ********** */

container {
  margin: 50px auto;
  width: 90%;
  display: none;
}

header h1 {
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.accordion {
  background: var(--dark-color);
  width: 100%;
  min-width: 800px;
  display: block;
  list-style-type: none;
  overflow: hidden;
  height: 200px;
  font-size: 0 !important;
}

.tab {
  display: inline-block;
  background-color: #444;
  border-right: #333 solid 1px;
  width: 80px;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 0;
  transition: all 0.5s ease-in-out 0.1s;
}

.tab:hover {
  width: 450px;
}

.tab:hover .social a:before {
  margin-left: -100px;
}

.tab:hover .social a:after {
  margin-left: -5px;
}

.accordion .tab .social a {
  font-size: 0;
}

.tab .content {
  background-color: #fff;
  width: 360px;
  height: 200px;
  margin-left: 80px;
  position: relative;
  padding: 50px 0 0 15px;
}

.tab .content h1 {
  font-size: 2.5rem;
}

.tab .content p {
  font-size: 0.85rem;
  line-height: 1.4rem;
  padding-right: 30px;
}
.social a:before,
.social a:after {
  transition: all 0.4s ease-in-out 0.1s;
  width: 100%;
  height: 100%;
  position: absolute;
  text-indent: 0;
  padding-top: 90px;
  padding-left: calc(100% - 80%);
  display: block;
  font: normal 30px;
  color: #fff;
}

.social a:after {
  font-size: 48px;
  padding-left: 20px;
  padding-top: 80px;
  margin-left: 85px;
}
/* Add Icons */
/* Social media links: youtube  */
.youtube a:before,
.youtube a:after {
  content: url("../images/snsLogo/youtube.png");
}

.youtube a:after {
  background-color: #f00;
}
/* Social media links: instagram  */
.instagram a:before,
.instagram a:after {
  content: url("../images/snsLogo/instagram.png");
}

.instagram a:after {
  background-color: #ff006f;
}
/* Social media links: twitter  */
.twitter a:before,
.twitter a:after {
  content: url("../images/snsLogo/twitter.png");
}

.twitter a:after {
  background-color: #00aeef;
}
/* Social media links: github  */
.github a:before,
.github a:after {
  content: url("../images/snsLogo/github.png");
}

.github a:after {
  background-color: #6dc993;
}
/* TODO：ここまで適当に貼り付けたスタイル修正が必要 */

.SNS {
  justify-content: center;
  text-align: center;
  display: none;
}

.SNS-logo {
  margin: 12px;
  width: 40px;
}

.footer-logo {
  justify-content: center;
  text-align: center;
}

#footer-logo {
  width: 250px;
}

.address {
  border: 1px solid var(--back-ground-color);
  width: 25%;
  position: relative;
}

.address-label {
  background: var(--dark-color);
  padding: 3px 10px;
  color: var(--back-ground-color);
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.address-content {
  text-align: center;
  padding: 20px 5px;
}

.address-content a {
  font-size: 20px;
}

.footer a {
  color: var(--back-ground-color);
}

.footer-copy {
  display: flex;
  justify-content: center;
}

/* ********** レスポンシブ対応 ********** */

@media screen and (max-width: 768px) {
  .pc-nav {
    display: none;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .sp-nav {
    display: inline;
  }

  .header-image {
    margin: 0;
  }

  .br-resp {
    display: inline;
  }

  #hamburger {
    opacity: 0;
    position: fixed;
  }

  label .burger {
    position: fixed;
    top: 1.3rem;
    right: 1rem;
    z-index: 3;
    width: 30px;
    height: 25px;
    margin: 0;
  }

  label .burger::before,
  label .burger::after,
  label .burger .bar {
    position: absolute;
    right: 0;
    width: 100%;
    height: 3px;
    background-color: var(--header-color);
    content: "";
    transition: all 0.5s;
  }

  label .burger::before {
    top: 0;
    transform-origin: top left;
  }

  label .burger::after {
    bottom: 0;
    width: 70%;
    transform-origin: bottom left;
  }

  label .burger .bar {
    top: 45%;
  }

  #menu {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    display: none;
  }

  #menu::before {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    width: 25rem;
    background-color: var(--dark-color);
    content: "";
    transform: skewX(-15deg) translateX(100%);
    transform-origin: bottom right;
  }

  #menu a {
    margin: 10px 0;
    padding: 1px 20px;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    transform: translateX(300%);
    transition: all 0.15s, transform 0.5s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    color: var(--header-color);
  }

  #hamburger:checked + label .burger::before,
  #hamburger:checked + label .burger::after {
    width: 110%;
  }

  #hamburger:checked + label .burger::before {
    transform: rotate(45deg);
  }

  #hamburger:checked + label .burger::after {
    transform: rotate(-45deg);
  }

  #hamburger:checked + label .burger .bar {
    transform: scale(0);
  }

  #hamburger:checked ~ #menu::before {
    transform: skewX(-25deg) translateX(0);
  }

  #hamburger:checked ~ #menu {
    display: flex;
  }

  #hamburger:checked ~ #menu a {
    display: inline;
    transform: translateX(0);
  }

  #hamburger:checked ~ .light-dark {
    background-color: var(--dark-color);
    opacity: 0.5;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }

  .title-eng {
    font-size: 50px;
  }

  .title-ja {
    font-size: 25px;
  }

  .section-title {
    padding: 0px 30px;
  }

  .hero > strong {
    font-size: 65px;
  }

  .president-container {
    display: flex;
    flex-flow: column;
  }

  .left-content {
    width: 100%;
  }

  .main-profile h1 {
    font-size: 25px;
  }

  .activity-content {
    /* pointer-events: none; */
  }

  .activity-normal {
    margin: 0;
  }

  .activity-normal-small {
    writing-mode: vertical-rl;
    padding: 0;
  }

  .activity-hover {
    margin: 10px;
  }

  .activity-hover-first-letter {
    font-size: initial;
    font-weight: initial;
    line-height: normal;
  }

  .activity-normal:before {
    display: none;
  }

  .company-activities:nth-child(odd) .activity-content:nth-child(even),
  .company-activities:nth-child(even) .activity-content:nth-child(odd) {
    padding: 20px;
  }

  .right-content {
    width: 100%;
  }

  .career,
  .sub-profile {
    margin-left: 20px;
  }

  .company-activities {
    height: 200px;
  }

  .activity-normal span {
    font-size: 15px;
  }

  .development-example-title {
    font-size: 15px;
    margin: 0 10px;
  }

  .development-example {
    flex-flow: column;
  }

  .favorite-lang {
    flex-wrap: wrap;
  }

  .favorite-lang-component {
    padding: 20px 27px;
  }

  .development-example-content {
    margin: 10px 20px;
    padding: 20px;
    flex-flow: column;
  }

  .site-url {
    font-size: 15px;
  }

  .accordion {
    display: none;
  }

  .footer {
    display: flex;
    flex-flow: column;
  }

  .SNS {
    display: inline;
  }

  #footer-logo {
    width: 150px;
  }

  .address {
    margin-top: 50px;
    width: 300px;
  }
}
